PGHOST=localhost
PGPORT=5432
PGDATABASE=uscis_analysis
PGUSER=postgres
PGPASSWORD=
PSQL_PATH=C:\Program Files\PostgreSQL\18\bin\psql.exe

USCIS_DATA_URLS=https://www.uscis.gov/tools/reports-and-studies/immigration-and-citizenship-data?topic_id%5B%5D=33628&ddt_mon=&ddt_yr=&query=I-140&items_per_page=100;https://www.uscis.gov/tools/reports-and-studies/immigration-and-citizenship-data?topic_id%5B%5D=33667&ddt_mon=&ddt_yr=&query=I-140&items_per_page=100
SNAPSHOT_DATE=
PROBE_START_YEAR=2014
PROBE_END_YEAR=2026
